.root {
    -fx-background-image: url('ele-wallpaper2.jpeg');
    -fx-background-size: cover;
}

.label {
    -fx-fill: #b80101;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, #dee1ea, 20, 0.9, 0, 0);
    -fx-view-order: 1;
}

.hyperlink {
    -fx-effect: dropshadow(gaussian, #dee1ea, 10, 0.9, 0, 0);
    -fx-font-weight: bold;
}

.text-area {
    -fx-font-family: "Serif";
    -fx-background-color: #FFFA;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}


.button {
    -fx-background-color: #FFFA;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

#obrazok {
    -fx-rotate: -20;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    transition: all 0.5s ease-in-out;
    -fx-view-order: 10;
}

#obrazok:hover {
    -fx-rotate: 0;
    -fx-scale-x: 2.5;
    -fx-scale-y: 2.5;
    transition: all 0.5s ease-in-out;
}

#obrazok:pressed {
    -fx-scale-x: 2.5;
    -fx-scale-y: 2.5;
    transition: all 0.5s ease-in-out;
}

